<h1>Stories</h1>
<h1>TEST {{{user}}}</h1>

<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{!-- storyUser, loggedUser, storyId --}}
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 50)}}</p>
                {{!-- helper함수를 import할 필요 없음
                      app.js에서 엔진에 넣어주면 동작. arguments를 전달하는 형식에 주의
                 --}}
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/stories/user/{{user.id}}">
                        {{user.displayName}}
                    </a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="grey btn">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
        <p>No stories found</p>
    {{/each}}
</div>